[2017-05-08 10:01] selfuryon opened #1 "The name of library"
I need to rename this library for avoiding collision with linux netdev. So if you have some good idea about new name - write here!

[2017-10-10 05:01] wallies commented on #1
As this library is inspired by netmiko, either netasync or asyncnet

[2017-10-10 06:15] selfuryon commented on #1
@wallies thank for the advice! I will think about it 👍 My first thoughts were about using the name of [star](https://en.wikipedia.org/wiki/List_of_proper_names_of_stars) :)

[2017-10-10 06:20] wallies commented on #1
@selfuryon sounds cool. We like the look of your library, so have to started to play around with it and will submit some PRs if all goes well soon.

[2017-10-10 06:27] selfuryon commented on #1
@wallies oh, this is good! I will be looking forward to your reviews!

[2017-11-03 13:38] dhanakane opened #2 "Not finding prompt when connecting to multiple devices"
I'm running the following code on an IOS-XR device:

[code]

Looking at the logs, it looks like the prompt is never received from the device, so the connection is never terminated. Any advice?

[2017-11-03 13:55] selfuryon commented on #2
I think that the problem is in IOS-XR prompt because it doesn't like "hostname<delimeter>". I never tested netdev on IOS-XR, but it's not difficult for me. I will try to add IOS-XR support this weekend :) I will add information about it here

[2017-11-04 07:43] selfuryon commented on #2
@dhanakane I have tested IOS XR with IOS class - it works fine (but I mention about send_config_set - it doesn't make commit so you need to make it by hand. I will implement it in new IOS XR Class soon). In your case you made this:
<pre>
RP/0/0/CPU0:ios#show run interface loopback0
Sat Nov  4 12:22:41.504 YEKAT
% No such configuration item(s)

RP/0/0/CPU0:ios#exit
<--- No more information (and pro

[2017-11-04 14:32] selfuryon commented on #2
I added some support for IOS XR (adding with_commit parameter for IOX XR send_config_set. We can see example for IOS XR in example folder) at 2d413d05a92c34bf0a4dd95c45fa8bf64c157a2b. You can use now device_type "cisco_xr" for IOS XR.

[2017-11-04 14:32] #2 closed

[2017-12-01 04:29] nipython opened #3 "Python/Django?"
Здравствуйте, Сергей!
Сразу хочу извиниться, что пишу вам в гитхаб в issue.
Я ищу разработчика с опытом в Python от 2-х лет до 100 лет (а опыт с Python-ом у вас есть, судя по репозиторию :), пониманием веба, опытом в Django, возможностью разговаривать хотя бы на ломаном английском :)
Напишите, пожалуйста, в скайп cv.kulikov@gmail.com (это именно скайп), если это про вас И вам было бы интересно пер

[2018-02-10 12:53] cjrh opened #4 "IOS-XR: if a commit fails, read_until_prompt waits forever"
An issue occurs when a commit on IOS-XR results in an error. I see this with `CiscoIOSXR.send_config_set()`. After the code sends the `commit`, it then runs `IOSLikeDevice._read_until_prompt()`, but _if the commit fails_, then `_read_until_prompt()` will wait forever.

Here is an example of an interactive session that produces a failed commit (I presume it doesn't really matter _what_ produces the

[2018-02-11 13:00] selfuryon commented on #4
Thank you for your interest to this library!
I really didn't test carefully IOS XR class because I haven't it in my work. I can divide my thoughts into 2 points:

1. I want to make timeout for operation for a long time :) I want to add default timer to all read operations in all classes for better controlling the flow. And I have the stimulus to do it right now :) I think that it should raise time

[2018-02-12 00:59] cjrh commented on #4
I'm happy to help.

I will create a PR, and then the first thing I'll do is create a test that demonstrates the issue. Then we can discuss the test.  Then I will add code to resolve the problem, which will include the handling you've discussed above.

Sound good?

[2018-02-12 05:06] selfuryon commented on #4
Yes, it will be amazing! I will wait for the PR!

[2018-02-24 17:32] newsera opened #5 "Requesting to add terminal_server & aruba"
It would be awesome if you can add support for terminal_server & aruba

https://github.com/ktbyers/netmiko/tree/develop/netmiko/aruba

https://github.com/ktbyers/netmiko/tree/develop/netmiko/terminal_server

These are already supported by netmiko. Looking forward to netdev magic on these.

[2018-02-25 14:37] newsera opened #6 "Using hostname breaks the script"
Using hostname instead of IP Address breaks the script. Can you add support for hostname please?

[2018-02-25 14:54] newsera commented on #6
Ignore...

[2018-02-25 14:54] #6 closed

[2018-02-25 18:58] selfuryon commented on #5
Hello! No problem, I will try to add Aruba and terminal server support during this week

[2018-02-26 04:15] newsera commented on #5
Excellent. Thank you so much 👍

[2018-02-27 14:14] selfuryon commented on #5
@newsera Hello! I can't find any virtual appliance for testing with Aruba OS =\ Maybe you know where can I get it?

[2018-02-27 22:43] cjrh commented on #4
Quick note to say I have not forgotten about this issue, but I've been extremely busy recently.

[2018-03-01 07:12] selfuryon commented on #5
Hello @newsera! I found Aruba VMC 8.2.0.2 but I'm bit confusing with CLI. In this ArubaOS prompt changes like this:
[code]
So I can suggest that prompt is `(<hostname>) [<node>] #` for enable mode and `(hostname) [<node>] (config\w*) #` for config mode. ArubaOS has the special indicator for changed configuration (`^`) and for crash information (`*`) and it also doesn't apply config immediately. My

[2018-03-01 08:00] newsera commented on #5
Hello @selfuryon

This VMC prompts looks different from the usual Aruba Wireless Controller. Please find below the example. There is no commit in Aruba AFAIK. It is very similar to IOS. Most people use Aruba for Wireless Controller than Switches. So I would recommend you to consider the below example. Let me know if you need any information.

[code]

[2018-03-01 08:02] newsera commented on #5
Above example is from ArubaOS 6.x.x.x. The example that you provided is from ArubaOS 8 I guess which is considered a major change. Its a complete architectural change and it might take several years for people to adopt it. So I would recommend you to add support for ArubaOS 6.x.x.x for now and may be 8 down the months / years.

[2018-03-01 08:05] newsera commented on #5
User Mode is similar to Cisco CLI

[code]

[2018-03-01 08:07] newsera commented on #5
[code]
is the command to print continuously to the terminal

[2018-03-01 08:54] selfuryon commented on #5
Oh, I've got why it has the difference (different version with significant changes). I'm going to find ArubaOS 6.X and after I will make support for both versions :)

[2018-03-06 19:24] selfuryon commented on #5
@newsera  Hello! I can't find any ArubaOS 6.X in a virtual edition (maybe it doesn't exist). So can't properly check my class :( Can you help me test it? The first question - Does AOS 6.X have `end` command or analog for exiting from any level of conf/subconf mode?
I'm planning to add the new class with tests to develop branch tomorrow after your answer about `end` command. Can you test it after t

[2018-03-13 11:04] romankuchin opened #7 "ASA prompt checking"
Hello, netdev execution fails in case ASA is configured with non-default prompt. Like "(config)# prompt hostname priority state". There is a small fix which is not ideal, but helps to avoid exceptions in some longer prompts.

        prompt = await self._find_prompt()
        context = 'system'
        # Cut off prompt from "prompt/context"
        splitted_prompt = prompt[:-1].split('/')

[2018-03-14 20:08] selfuryon commented on #7
@romankuchin  Hello! Thank you for your report! I never think about changing prompt with command `prompt`. I find out that it has several params:
[code]
So it can consist more than 3 part with '/' separator. I think that we can omit it all in the `_set_base_prompt` function except first part (it is usually hostname in the most cases).
I will release new code for ASA in several days after some test

[2018-03-14 20:11] selfuryon commented on #5
@newsera  Hello! I released new Aruba class for 6,X in develop branch. Can you test it before I release it in master branch?

[2018-04-03 14:29] frostspb opened #8 "Connection pool"
Hi, is there any way to create a connection pool?

[2018-04-05 13:11] afourmy opened #10 "stuck at the async with step"
Hello,

I am trying netdev with the following code:
[code]

My issue is that I don't get past the "async with" step, i.e the `print('before async with')` is displayed, but not the `print('after async with')`. Netdev is connected to the device (ASK1K, IOS-XE 15.3(3)S3), because I see the VTY after starting the script, but the VTY / the script stays idle.

When I KeyboardInterrupt, it says the task

[2018-04-08 19:24] selfuryon commented on #7
@romankuchin Hello! I changed this code for working with your case. Now it should just work without any workarounds. Can you test it in your environment?

[2018-04-08 19:28] selfuryon commented on #8
@frostspb  Hello! What do you mean by "connection pool"?
Something like ThreadPool with a fixed number of threads which will run asynchronously a fixed number of connections?
No, it's not supported yet, but it is a good idea :) I try to make it soon :)

[2018-04-08 19:37] selfuryon commented on #10
@afourmy  Hello! Thanks for trying to use my library!
It's the interesting situation because of your script didn't send any commands to a device so the problem is probably in connection.
Can you enable logging and send me the output? You can enable it by this code:
[code]

And I also will try to reproduce this situation in my lab.

[2018-04-09 07:24] selfuryon commented on #10
Oh, now I see that the problem is in the banner. Can you post here banner from your device and also hostname? I will try it in my lab to understand the reason.

[2018-04-09 08:29] selfuryon commented on #10
I think that the problem in '>' symbol in the banner because netdev search '>' and '#' in prompt for understanding the end of prompt but in your case '>' are existed in banner. So netdev decide that prompt is all before '>' not 'Bnet-A4'. You should avoid using '>' and '#' symbols in prompt. Can you test without it in the banner?

[2018-04-09 08:47] afourmy commented on #10
Indeed, the problem comes from the `>` in the banner, thank you ! (note that with the same banner, netmiko works fine so there's probably a way around this)

[2018-04-09 10:01] selfuryon commented on #10
The problem in this case netdev can receive characters from an ssh channel symbol by symbol in the worst case. The library should understand that it received all characters from the channel. We also know that the end for Cisco devices is # or > (delimiters). If you try to read the characters after the end - the script will stick in awaiting new characters but it never gets it because device wait f

[2018-04-09 12:42] #10 closed

[2018-04-10 07:34] frostspb commented on #8
Yes it is. I'll wait, thanks

[2018-04-10 07:54] selfuryon commented on #8
I'll leave it open to not forget about this enhancement :) I'll drop the message here when it will be ready

[2018-04-12 08:25] selfuryon commented on #7
Thank you for submitting successful work!

[2018-04-12 08:25] #7 closed

[2018-04-22 19:45] selfuryon commented on #4
Hello, @cjrh!
I have just pushed new code to IOS XR class. Right now it works like this:
* with_commit=True - All changes will be commited. If not - we will get `CommitError` exception
* with_commit=False and exit_config_mode=False. Nothing special, user should make decision himself
* with_commit=False and exit_config_mode=True - exit from config without any changes and commits

For taking this be

[2018-04-22 19:53] selfuryon commented on #4
Forgot! I also added timeout params for managing timeout in all async operations :) You can use it only in init. The default timeout is 15 seconds:
[code]
I thought about adding timeout exactly to operations (send_config_set and send_command) but I don't know if it's really necessary. Do you need this?

[2018-04-22 23:09] cjrh commented on #4
@selfuryon Thanks! I will have a look towards the middle or end of this week.

[2018-05-14 07:45] selfuryon commented on #4
@cjrh Hello! Did you test new code? :)

[2018-05-14 08:47] cjrh commented on #4
Sadly, I have not tested it yet. I did the workaround we discussed, where I made a subclass of the XR class and so far that has worked very well. sorry!

[2018-05-18 14:25] ajwillo opened #11 "sample script pauses indefinitely after connectin"
new to netdev. just wanted to test it with an existing script and it kept pausing after initial connecting and then waiting indefitnley, so I tried using the sample script to see if it was something I was doing. and I get the same result.

sample script:
[code]

output from the script is:
[code]
it stops here and never continues

[2018-05-22 06:15] selfuryon commented on #11
Hello!
Thank you for trying use my library and sorry for long time answer!
I think that you have the same problem like in #10 case: do you have '>' or '#' in your banner?

[2018-05-22 12:26] selfuryon commented on #11
@ajwillo  Yes, It would be the best solution right now! In case #10  I wrote why it's a problem and why I chose this tradeoff.

[2018-05-23 13:09] ajwillo opened #12 "Error handling - [Errno 111] Connect call failed ('10.10.10.2', 22)"
How do we handle errors when a device cannot be connected to? currently I et

  File "/usr/local/lib/python3.6/asyncio/selector_events.py", line 480, in _sock_connect_cb
    raise OSError(err, 'Connect call failed %s' % (address,))
ConnectionRefusedError: [Errno 111] Connect call failed ('10.10.10.2', 22)

I would just like to print an exception i.e. couldn't connect to X. at the moment it aborts

[2018-06-13 17:11] ajwillo opened #13 "Are FTP transfers possible?"
Is it possible to download an IOS for example from an ftp server using netdev? ive tried with the below

[code]

debugging gives the below output
[code]

im guessing at this stage its not possible?
Thanks

[2018-06-15 15:42] selfuryon commented on #13
Hello!
Yes, it's possible! In your example may be a problem in an interactive command `copy ftp`. Do you have `file prompt quiet` applied? Can you post the output of this command from ssh?

[2018-06-15 15:43] #11 closed

[2018-06-15 17:08] selfuryon commented on #12
Yes, it's right solution about using exception handling! One note about it - you may want to use `asyncio.gather` instead of `asyncio.wait` for awaiting coroutines due to `wait` doesn't catch the exception by default - you can read about it [here](https://medium.com/@yeraydiazdiaz/asyncio-coroutine-patterns-errors-and-cancellation-3bb422e961ff)

[2018-06-18 15:44] ajwillo commented on #13
Thanks that works!

[2018-06-18 15:44] #13 closed

[2018-07-05 10:44] waqasraz opened #14 "Encoding Problem"
I think the issue I open for async ssh fits here because  #I am using this to fetch the output.

https://github.com/ronf/asyncssh/issues/154

[2018-07-08 17:13] selfuryon commented on #14
Hello!
No problem! I will try to help! Can you provide information about your Juniper router? Version? Model?  I find out that we recognize the place where you have a problem. Did you try to change comment? Maybe repeat to type 'n' again? Maybe this 'n' letter not from english by mistake?

[2018-07-08 20:21] waqasraz commented on #14
Hi, Thank you, Actually, I was able to have some idea about the problem. In some of the routers, engineers added some Unicode characters in the descriptions. So when we try to decode it using UTF-8 it just gets the decode error.  Thank you for the good work in the library.

Just on a side note

https://github.com/selfuryon/netdev/blob/e3dd7c9148a1f13d32dc3125414e882c7c41d1ee/netdev/vendors/junos_l

[2018-09-27 16:02] walidamer711 opened #15 "await send_command not accepting 'use_textfsm=True'"
While trying add use_textfsm=True to send_commad function it raises the below error.

Traceback (most recent call last):
  File "async-ssh.py", line 51, in <module>
    main()
  File "async-ssh.py", line 46, in main
    print(task.result())
  File "async-ssh.py", line 30, in collect_output
    command_result = await connection.send_command(command,use_textfsm=True)
TypeError: send_command() got an

[2018-09-28 18:40] selfuryon commented on #15
Hello, @walidamer711 !
My library doesn't support textfsm, but it's interesting. What do you expect from using this args "use_textfsm=True"?

[2018-10-02 05:07] walidamer711 commented on #15
Hello,
In reference to the below link, netmiko now support passing this parameter "use_textfsm=True" along with send_command() in order to return structured data parsed with ready textfsm templates created in ntc-templates. So it is all about getting structured data.

https://pynet.twb-tech.com/blog/automation/netmiko-textfsm.html

if you can add this to your library, that will be great.
Thanks

[2018-10-04 10:51] selfuryon commented on #15
Oh, it's a great idea! I will realize it in the next release!

[2018-10-23 15:10] selfuryon opened #17 "Add pattern to init args"
Need to add pattern arg to init for manual managing _pattern for devices

[2018-10-23 17:18] t1hom7as opened #18 "Add telnet support"
I don't see any reference to telnet support in the code. It would be good if you could add it.
I regularly use telnet to test connections/and my code in an emulated env (using eve-ng).
Currently I've been using Netmiko, which supports this, I would love it if you could add the support in.
Thanks.

[2018-10-23 17:54] selfuryon commented on #18
Hello, @t1hom7as!
Right now netdev is based upon asyncssh, and it supports only ssh. At the start of writing this library, no implementation of async telnet had existed.
But right now I see that one implementation exists: telnetlib3. I will plan to implement it, thank you!

[2018-10-24 08:28] t1hom7as commented on #18
Ok great - I look forward to it!

[2018-11-22 18:54] #17 closed

[2018-12-22 03:20] sriram0706 commented on #18
This is an excellent library! I really hope telnet support gets added soon.

[2019-01-30 11:26] newsera opened #20 "Support for ubiquiti_edge"
Can we add support for ubiquiti_edge please?

[2019-01-30 11:40] selfuryon commented on #20
Oh, it seems to be quite simple! I'll try to add it today\tomorrow!

[2019-01-30 11:40] newsera commented on #20
Awesome. Thank you so much 👍

[2019-01-30 11:45] newsera commented on #20
It supports terminal length command too just like Cisco.

https://dl.ubnt.com/guides/edgemax/EdgeSwitch_CLI_Command_Reference_UG.pdf

[2019-02-02 17:59] selfuryon commented on #20
Hello! I've just added support (first attempt) for Ubiquity Edge Switch to dev branch but without committing to master dev and releasing new release until you test it. Can you test it? Maybe do you need some help with that?

[2019-02-02 18:02] selfuryon opened #21 "Create mock tests"
Need to create mock tests for fast developing otherwise I need to test all classes after each significant commit to base classes. It's too hard and I can't use it in CI/CD

[2019-02-02 18:29] selfuryon opened #22 "Add proxy class for tunneling traffic"
Need to create a proxy class for ssh tunneling (I've already added support tunneling to init param but still haven't proxy class for doing that)

[2019-02-02 18:51] selfuryon commented on #21
Need to think about how to do it.
Just create a file which class will be read line-by-line? Or something else.

[2019-02-02 21:08] selfuryon commented on #21
I want to read a particular file when running a particular command, so I'll have files like these:
* `show_run.txt`
* `show_ver`
* etc

So when the code needs to run `show run` command it should read `show_run.txt` file.

Some thoughts:
* mock `establish_connection()` for reading only text files without real ssh connections
* mock `send_command()` and `send_config_set()` for getting the right file

[2019-02-03 18:16] selfuryon commented on #21
The main goal is to replace `self._stdin` and `self._stdout`. I need to create a similar interface like `SSHClientSession`

[2019-02-07 06:56] newsera commented on #20
Hello, Let me try this out during the weekend and will keep you posted. Thank you so much.

[2019-02-25 13:23] newsera commented on #20
Tested today and it works great.. Tried both show commands as well as tried to configured an interface... write memory works as well. Awesome.. Good for merge to Release v1.0.

[2019-04-25 13:51] kovaxur opened #24 "Problems with Asyncssh 1.16.0"
Hi,
I'm using netdev for a few months now, thanks for the great job!

Since asyncssh 1.16.0 is out, we have problems connecting to some of our devices. It looks like, that there was a change in the part, where the known_hosts are checked. It seems, that the script for these devices just reject the connection after KEX init.

What we see on some of the cisco devices:
[code]

What we see in the scri

[2019-04-25 18:28] selfuryon commented on #24
Hello!
Thanks for using my library!
It's an interesting issue, I'll take a deep investigation to it tomorrow and write down my thoughts about it here.

[2019-04-26 08:01] selfuryon commented on #24
Hello! Can you also write with which type of devices you find this problem?

[2019-04-26 14:57] kovaxur commented on #24
Hi,
We have around 500 devices, but only ~30 had problems, there are switches, routers and firewalls in the list, for example:
WS-C2960-24TT-L - 12.2(44)SE6
WS-C3560-24PS - 12.2(25)SED1
WS-C3560V2-24PS - 12.2(55)SE5
ASA 5515-X - 9.6(4)8
ASA 5515-X -  9.1(7)23
WS-C3750X-24 - 12.2(55)SE5
C2811 - 12.4(5b)

It looks like that devices with older IOS versions are affected, but there are some firewalls i

[2019-05-04 23:10] anknarang opened #25 "AWS lambda not able to recognize netdev ?"
Hi,

This is netdev is great package. Thanks for writing.

I am writing AWS lambda function using netdev library . I zipped the package in local machine and upload to lambda layers but still not able to recognize. Anyone can tried it ?

Thanks
Ankush

[2019-05-05 22:41] selfuryon commented on #25
Hello!
I have never tried to use netdev in a serverless scenario. Can you post an example of your code?
I'll try to do it :)

[2019-05-07 18:03] anknarang commented on #25
I need to build the package and upload to AWS. so not related to netdev. I will keep posted if does not work.

[2019-05-07 18:08] anknarang opened #26 "Connecting to ASA Timeout"
Hi,

I am able to connect device manually. but using netdev. I am getting Timeout. do i increase any timeout value in script ? if yes , how ?.  Enable password is same. device are in active/standby.

enable mode prompt looks like this. We don't have any context

Hostname/pri/act>

Task exception was never retrieved
future: <Task finished coro=<backup_config() done, defined at C:/Users/anarang/Pych

[2019-05-07 18:09] #25 closed

[2019-05-07 18:09] anknarang commented on #25
Thanks for prompt reply

[2019-05-07 19:37] anknarang commented on #26
I also tested on standalone ASA with hostname cisco and enabled the deubug but same timeout issue.

Host 10.6.127.12: Trying to connect to the device
Host 10.6.127.12: Establishing connection to port 22
Host 10.6.127.12: Connection is established
Host 10.6.127.12: Reading until pattern
Host 10.6.127.12: Setting base prompt
Host 10.6.127.12: Finding prompt
Host 10.6.127.12: Reading until pattern
Ho

[2019-05-07 21:35] selfuryon commented on #26
There is no need to use timeouts in this case, because my library doesn't use it for waiting for the prompt. You can get more details in #10 issue.
But if talking about your case: it's interesting and unusual. I've just tested it in my production environment and all works fine.
So can you share your example code and example config?
You can send me it privately in telegram or in my email.

[2019-05-07 22:23] selfuryon commented on #1
I've decided to choose name `sargas`. I'm going to rename the project to `sargas` after Release v1.0

[2019-05-07 22:23] #1 closed

[2019-05-07 22:51] selfuryon opened #27 "Change license type"
I decided to change my license to Apache 2.0

[2019-05-07 23:11] #27 closed

[2019-05-08 00:10] anknarang commented on #26
The issue you mentioned above, I dont have any banner there but i enabled
the debug in mentioned above issue. its just simple code. I attached both
debug and code.

On Tue, May 7, 2019 at 2:35 PM Sergey Yakovlev <notifications@github.com>
wrote:

--
With Regards
Ankush Narang

Host 10.6.127.12: Trying to connect to the device
INFO:netdev:Host 10.6.127.12: Trying to connect to the device
Host 10.6.

[2019-05-08 00:16] anknarang commented on #26
Hi,

Thanks for replying.

The issue you mentioned above, I dont have any banner there but i enabled
the debug in mentioned above issue. its just simple code. I attached both
debug and code.

On Tue, May 7, 2019 at 2:35 PM Sergey Yakovlev <notifications@github.com>
wrote:

--
With Regards
Ankush Narang

Host 10.6.127.12: trying to connect to the device
INFO:netdev:Host 10.6.127.12: trying to conne

[2019-05-08 00:19] anknarang commented on #26
Thanks for replying.

where can i find your email ?

Thanks

[2019-05-08 06:25] selfuryon commented on #26
Hello! My email is selfuryon@gmail.com

[2019-05-08 07:40] selfuryon commented on #1
or 'santal' :D

[2019-05-08 20:04] anknarang commented on #26
Sent you email. please check

[2019-05-08 20:57] selfuryon commented on #26
Hello!
Yeah, I got all debug files, thank you!
I'll try to investigate it tomorrow

[2019-05-09 01:47] anknarang commented on #26
Thank you

[2019-05-10 18:25] anknarang commented on #26
Hi,

Please can you let me know if you get chance to look. This is blocker for us. Nxos is working but due to ASA having issue. We need to decide in library As we want to use only one library for all of them.

Thank you

[2019-05-10 19:01] selfuryon commented on #26
Hello!
Sorry for a long time answer. I think the problem is in your init function: I found that you entered to an unprivileged mode, but you don't provide a secret password for entering a privileged mode.
You should use `secret` param for that:
[code]
Try it, it should work fine!

[2019-05-10 19:15] selfuryon opened #28 "Improve documentation"
Hello!
I found out a problem with rtfd and outdated docs. Need to 'make it great again'

[2019-05-10 19:55] selfuryon commented on #26
I've just tested it in my test environment and can confirm that it's the reason, But it's not desirable, we should get other exception. I will fix it

[2019-05-10 20:36] selfuryon commented on #24
Hello!
I can't reproduce this problem =\
Can you add some more information about that:
- Is the issue always persistent for these devices?
- Do you have the issue even if you are connecting only to only one device from this list?
- Do you have also the issue with asyncssh 1.16.1?

[2019-05-10 20:42] selfuryon commented on #24
Another way - did you try to change ssh public/private key for authentication?

[2019-05-10 21:51] anknarang commented on #26
yeah. it working. Thanks for helping out. I did not see this in any example or Doc. I might missed out.

Thank you.....

[2019-05-10 21:52] selfuryon commented on #26
Yes, I have some problems with docs after I changed the structure of the project. Need to correct it #28

[2019-05-10 21:52] #26 closed

[2019-05-11 11:27] kovaxur commented on #24
Hi,
Yes, I tried with different keys, but same results.

I will check with 1.16.1 next week. Then I think you can close this, as it's probably about asyncssh, but still a good-to-know if someone has the same issues.

[2019-05-11 18:01] selfuryon opened #29 "Haven't any exceptions/messages about the wrong secret password in IOS"
I haven't any exceptions/messages about the wrong secret password (the situation was described here #26 )

[2019-05-14 02:02] anknarang opened #30 "What is default timeout or retry Number"
Hi,

what is  default timeout value to connecting to device and what is retry number if fails to connect in  one time ?

How can i change retry or timeout value ?

Thanks

[2019-05-14 05:46] selfuryon commented on #30
Hello!
The default timeout timer is 15 second. It's a default timer for all async operations in netdev. You can modify it when you create an instance by using `timeout` [parameter](https://github.com/selfuryon/netdev/blob/b96334c2ff92715c87e1ab388fcc7d48506aa954/netdev/vendors/base.py#L28)/

I haven't the retry timer, you should manage it manually. My library only create a exception `TimeoutError`

[2019-05-15 16:06] Ali-aqrabawi commented on #15
@selfuryon i'm interested to work on this, you can assign it to me.

[2019-05-15 17:48] anknarang commented on #30
thank you..

[2019-05-15 17:48] #30 closed

[2019-05-15 18:19] Ali-aqrabawi commented on #18
i'm interested to work on this, you can assign it to me

[2019-05-19 14:07] selfuryon commented on #15
Related PR #33

[2019-05-19 15:39] selfuryon commented on #18
Related PR #33

[2019-06-01 12:37] selfuryon opened #34 "Refactoring the code"
Hello!
I want to make a refactoring module.

The first thing I want to separate the connection and the class which knows how to work with device.
The second thing I want to use the Strategy pattern instead of Inheritance due to lack of isolation.

Common class structure:
* IOConnection as an interface for working for a particular connection
  * As examples of a particular connection are SSHConnect

[2019-06-14 11:53] zklevsha opened #36 "MikrotikRouterOS raises Attribute error during initialization"
**Describe the bug**

MikrotikRouterOS during initialization raises

**How to reproduce**
Run tests/test_mikrotik_routeros.py

**Root cause**
Class parent class BaseDevice stores username in dictionary  self._connect_params_dict['username']

**Possible soluton**
Replace
self._username+= "+ct200w" with self._connect_params_dict['username'] += "+ct200w"

[2019-06-18 13:57] zklevsha opened #37 "Timeout feature not working in MircoticRouterOS"
**Describe the bug**
Timeout timer not working for mikrotik devices.
Timeout timer simply ignored. All unavailable devices causes asyncio to raise OSError after 120 sec timeout

**How to reproduce**
Try to connect to any unavailable Microtik devices.

**Expected Behaviour**
MicroticRouterOS must raise netdev.exeptions.TimeoutError after timeout timer expires (default=15 sec).

**Current Behaviour*

[2019-06-18 19:24] selfuryon commented on #36
Related #35, resolved by that PR!
Thank you!

[2019-06-18 19:24] #36 closed

[2019-06-18 19:25] selfuryon commented on #37
Thank you for finding this bug!

[2019-06-18 19:46] #37 closed

[2019-06-20 08:29] zklevsha opened #38 "MicrotikRouterOS raises TimeoutError"
**Describe the bug**

After yesterdays commits, MicrotikRouterOS`s  start raising TimeoutError.

**How to reproduce**
Run /tests/test_mikrotik_routeros.py

**Traceback**
[code]
**Root cause**
As far as I underenstand this situation caused by adding parameter **term_size=(200, 24)**
to self._conn.open_session() (microtik_routeros.py lines 74-76)
[code]

**Possible solution**
Call function  await se

[2019-06-21 19:42] selfuryon commented on #38
Ough, I remembered why I did not add the term_size parameter before. I'dd remove it

[2019-06-21 19:46] #38 closed

[2019-06-27 19:42] SobieskiCodes opened #39 "Small issue with Ubiquity_edge - probably my fault."
**Question**

Turned debugging on and added `$` to the pattern, its finding it, but timing out after the command.

[code]
Any insight? (running the command in ssh/cli works fine so i know its the command thats the issue. (let me know what you need) It looks like it finds the prompt fine but can't seem to read the pattern.

[code]

[2019-06-28 11:06] #39 closed

[2019-06-28 11:08] SobieskiCodes commented on #39
No idea - its working today. Must be something on my end.

[2019-11-21 21:40] wallies commented on #14
@waqasraz we had similiar issue to this and we solved it by using this
codecs.register_error('strict', codecs.backslashreplace_errors)
https://docs.python.org/2/library/codecs.html

[2020-04-17 14:24] newsera opened #40 "Support for paloalto_panos"
**Proposed functionality**
Support for Palo Alto Devices

**Use case**
Enable netdev for Palo Alto Devices which is already supported by Netmiko

**Additional context**
https://github.com/ktbyers/netmiko/search?q=paloalto_panos&unscoped_q=paloalto_panos
https://ktbyers.github.io/netmiko/docs/netmiko/paloalto/paloalto_panos.html
https://ktbyers.github.io/netmiko/docs/netmiko/paloalto/index.html

[2020-05-04 07:30] selfuryon commented on #40
Hello!
Thank you for the request! I started a migration to a new architecture for netdev and after that, I add this functionality! You can track it on this case, I will write any progress on that here

[2020-08-18 18:24] kovaxur opened #41 "Unexpected keyword argument 'loop' with asyncssh==2.3.0"
Hi,
vendors/base.py has a dict, with all the arguments for asyncssh:
[code]

But asyncssh is not allowing passing the loop argument anymore.
[code]

This causes the following exception:
[code]

As I see, asyncssh is getting the current loop, so probably the solution would be to just remove the loop argument from the dictionary.

asyncssh/connection.py:
[code]

[2020-08-18 18:48] kovaxur commented on #41
Fond the change in asyncssh:
https://asyncssh.readthedocs.io/en/latest/changes.html
Release 2.0.0 (26 Oct 2019)
Removed optional loop argument from all public AsyncSSH APIs, consistent with the deprecation of this argument in the asyncio package in Python 3.8. Calls will now always use the event loop which is active at the time of the call.

[2020-08-18 20:24] kovaxur commented on #24
After doing some more troubleshooting, it turned out, that some old devices support only insecure kex and encryption algorithms.
These must be allowed manually via the netdev.create(kex_algs=, encryption_alges=) function
Supported algorithms:
- https://asyncssh.readthedocs.io/en/latest/api.html#kexalgs
- https://asyncssh.readthedocs.io/en/latest/api.html#encryptionalgs

[2020-08-19 13:03] kovaxur commented on #24
Okay, what  I found was just some side issue, I believe I found the real.

So the problem was, that when the client sent out the **key exchange init** message to the server (telco device), it just responded with a reset, nothing else.

SSH was working from the Linux box directly but this error happened from the script. So I did some packet capture to see, what's the difference between them, and af

[2020-08-24 11:54] selfuryon commented on #41
Yeah, this is expected! Thank you for your patch!
If you are interested you can also help to test some basic changes in new version/architecture in the 'refactor' branch. I haven't enough time for completing this job right now, but maybe you help me to improve code in this branch

[2020-08-24 12:02] #24 closed

[2020-08-24 12:03] kovaxur commented on #24
Fixed in #43

[2020-08-24 14:00] kovaxur commented on #41
Yeah sure! I would be happy to help with the project :)

[2020-08-24 14:00] #41 closed

[2020-08-27 08:29] ixjx opened #45 "device TimeoutError"
Hello,
here is the logs:
[code]

I think that the problem might be  my hostname begins with "HRP_M" befor "<" , because of  the  HRP hot standby. I just don`t know how to fix it

[2020-08-27 14:25] ericorain opened #46 "Little correction to add in the online documentation"
Hi.

I would suggest to replace:

###############################

import netdev

netdev_logger = netdev.logger
netdev_logger.setLevel(logging.INFO)
netdev_logger.addHandler(logging.StreamHandler())

#Your own code

###############################

With;

###############################

import netdev
**import logging**

netdev_logger = netdev.logger
netdev_logger.setLevel(logging.INFO)
netdev_log

[2020-09-01 22:36] asik8888 commented on #22
Love this project and what it does for alot of enterprises and independent coders.
Would love to understand how to add the class to have the proxy tunnel for this added. Let me know if I can help with completing the project feature for tunneling.

Thank you,

[2020-09-13 05:50] ixjx commented on #45
fixed

[2020-09-13 05:50] #45 closed

[2020-09-17 02:28] swamaki opened #49 "send_config_from_file support for netdev"
**Proposed functionality**

send_config_from_file

**Use case**
same functionality as send_config_set but you can load the file directly.

**Additional context**

Add any other context about the problem here.

[2020-09-17 22:46] spdkils commented on #4
This same stuck can happen on IOS.
I suspect the find_base_prompt() gets stuck for a similar reason...
Say you have a switch that has an automatic vty command, and you forget to issue the proper command....

autocommand who

but they forgot the...
autocommand-options nohangup

Well, now you connect, get logged in, and before the prompt ever appears, you're disconnected.

Well now you're stuck, you

[2020-11-13 23:09] spdkils opened #50 "False positives on _base_pattern, can't override."
**Describe the bug**

The send_command function allows for a pattern to be input to stop the parse, however the default pattern is used as an optional stop point regardless.

This causes issues if you have a comment with the switch name and a >  or # following it.

The regular expression should probably be anchored ^ $ to confirm that it is not found in the middle of a line, or other erronous loca

[2020-11-13 23:19] spdkils commented on #50
I would NORMALLY just get more picky, and override the pattern... However I can't override the pattern because the defaults, it always looks for the default pattern in the code. So I'm sunk. I have to edit this package to get around this, or search every config we have (28,000+) and ensure we never do this, and put out a memo ugh. Much prefer to make the pattern search more restrictive.

[2020-11-13 23:34] spdkils commented on #50
Sadly this version of NXOS spits out \r\n\r\n\rROUTER%
So using ^ won't anchor it, so you would have to use [\r\n] to simulate the ^ since it's out of order. (Thanks Cisco)

[2020-11-30 07:52] calvinrobson opened #53 "Issue with asyncio stuck at task"
Hello,

I am trying netdev with the following code:

import asyncio
import netdev
import logging
import netdev

[code]
I seem to getting an error where it is not executing, I have enabled logging and I am receiving the following error:
[code]

Can I please receive help?

[2020-12-10 11:47] gtcat opened #54 "Prompt pattern matches where it should NOT"
**Describe the bug**

Prompt pattern `brn\-boll111\-.*?(\(.*?\))?[\>|\#]` matches in `show interfaces description` on an interface that has `brn-boll111-ap-02 Gi0 <LS:LIR>` in its description.

**General Information**

OS:
RHEL7, python3.6

Netdev version:
asyncssh==1.18.0
netdev==0.9.3

Device OS:
Cisco IOS XE Software, Version 16.12.03s
C9300

**Debug information**

`[2020-12-10 10:30:09,152 DEB

[2020-12-10 14:38] gtcat commented on #54
I think I found the issue. In the code only the first 12 characters from the base prompt are being used for the pattern. Our hostname has 18 characters. I fixed the issue as follows.

netdev/vendors/base.py - line 252:
`base_prompt = re.escape(self._base_prompt[:12])`

should be

`base_prompt = re.escape(self._base_prompt)`

Now it works without problems.

[2021-02-25 17:06] LF3551 opened #55 "Could you upgrade Asyncssh in netdev"
I have this problem

netdev работает с asyncssh<2.0,>=1.15
and scrapli только   asyncssh<3.0.0,>=2.2.1

Could you upgrade netdev with new version Asyncssh and make compatibility

[2021-04-20 11:16] heyglen commented on #55
AsyncSSH 1.18 is also throwing security alerts from pyup.

Reproduce on windows:

[code]

[2021-04-20 16:05] ziyifeihu commented on #8
is there any update?

[2021-07-02 00:54] mani3887 opened #58 "Async IO task is getting stuck at send_command method."
**Describe the bug**
Hi,

We are observing a condition where the asyncio task getting stuck at send_command method in Netdev library. This condition happens for the device models:
1. Cisco Nexus 3048PT(Cisco NXOS)
2. Cisco ASR 9001( Cisco IOS-XR)

When we enabled the netdev logs, we saw that the library hangs in:

2021-06-22T20:28:40.233974439Z Host : Stripping prompt
2021-06-22T20:28:40.234000040

[2022-11-07 18:28] Colotpat opened #59 "Support for Juniper_screenOs"
**Proposed functionality**

**Use case**
We have hundreds of SSG5 devices which run screenOs.
Would it be possible to to hae this device type support ?

**Additional context**

Add any other context about the problem here.